<app-navgeacion></app-navgeacion>

<div class="container-fluid">

    <div class="row">

        <div class="col-3">
            <app-dashboard></app-dashboard>
        </div>
        <div class="col-8">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h5>Crear Bono</h5>
                        <br />
                        <form>
                            <div class="form-group">
                                <label for="categoryName"> Tipo</label>
                                <input name="categoryName" type="text" class="form-control" id="categoryName"
                                    placeholder="Introduzca el nombre del bono" [(ngModel)]="tipo">
                            </div>
                            <br />
                            <button type="submit" class="btn btn-primary" (click)="crear()">Save</button>
                            <button type="submit" class="btn btn-light" (click)="cancel()">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>