<div *ngIf="admin">
    <app-navgeacion></app-navgeacion>
</div>
<div *ngIf="dev">
    <app-navigation-dev></app-navigation-dev>
</div>
<div *ngIf="client">
    <app-navigation-client></app-navigation-client>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Welcome to ISMD</h1>
        <p class="lead">
            IBLA BLA BLA BLA BLA BLA
        </p>
        <a class="btn btn-primary btn-lg" [routerLink]="['/bitacory']">Iniciar</a>
    </div>
</div>
