<app-navgeacion></app-navgeacion>

<div class="container-fluid">

  <div class="row">

        <div class="col-3">
		<app-dashboard></app-dashboard>
	</div>
	 <div class="col-8">
            <h3>Crear Detalle del Recurso</h3>
            <form>
                <div class="form-group">
                    <label for="categoryName">Id recurso</label>
                    <input name="categoryName" type="number" class="form-control" id="categoryName"
                    placeholder="Introduzca el ID del recurso" [(ngModel)]="idrecurso">
                    <label for="categoryName">Capacidad</label>
                    <input name="categoryName" type="text" class="form-control" id="categoryName"
                    placeholder="Introduzca la capacidad" [(ngModel)]="capacidad">
            
                </div>
            
                <button type="submit" class="btn btn-primary" (click)="crear()">Guardar</button>
                <button type="submit" class="btn btn-light" (click)="cancel()">Cancelar</button>
            </form>
	</div>

   </div>
</div>
