<app-navgeacion></app-navgeacion>

<div class="container-fluid">

  <div class="row">

        <div class="col-3">
		<app-dashboard></app-dashboard>
	</div>
	 <div class="col-8">
            <h3>Modifiar cambio de Riesgos</h3>
            <form>
                <div class="form-group">
                    <label for="idRiego">Id Riesgo</label>
                    <input name="idRiego" type="text" class="form-control" id="idRiego"
                        placeholder="Introduzca el nuevo ID del riesgo" [(ngModel)]="idRiego">
                </div>
            
                <button type="submit" class="btn btn-primary" (click)="editar()">Guardar</button>
                <button type="submit" class="btn btn-light" (click)="cancel()">Cancelar</button>
            </form>
	</div>

   </div>
</div>


