<app-navgeacion></app-navgeacion>

<div class="container-fluid">

  <div class="row">

        <div class="col-3">
		<app-dashboard></app-dashboard>
	</div>
	 <div class="col-8">
            <h3>Crear Proveedor</h3>
            <form>
                <div class="form-group">
                    <label for="categoryName">Nombre</label>
                    <input name="categoryName" type="text" class="form-control" id="categoryName"
                    placeholder="Introduzca el nombre del proveedor" [(ngModel)]="nombre">
                    <label for="categoryName">Tipo</label>
                    <input name="categoryName" type="text" class="form-control" id="categoryName"
                    placeholder="Introduzca el tipo de proveedor" [(ngModel)]="tipo">
                    <label for="categoryName">Funcionalidad</label>
                    <input name="categoryName" type="text" class="form-control" id="categoryName"
                        placeholder="Introduzca la funcinalidad del proveedor" [(ngModel)]="funcinalidad">
                </div>
            
                <button type="submit" class="btn btn-primary" (click)="crear()">Guardar</button>
                <button type="submit" class="btn btn-light" (click)="cancel()">Cancelar</button>
            </form>
            
	</div>

   </div>
</div>

