<app-navgeacion></app-navgeacion>

<div class="container-fluid">

  <div class="row">

        <div class="col-3">
		<app-dashboard></app-dashboard>
	</div>
	 <div class="col-8">
      <h4>Recursos</h4>
      <button type="button" class="btn btn-success mb-2" (click)="crear()">
        <i class="fas fa-plus">Crear</i>
      </button>
      <table class="table table-bordered">
        <thead>
          <tr class="table-primary">
            <th scope="col">Id</th>
            <th >Recurso</th>
            <th >Descripcion</th>
            <th >Tipo</th>
            <th >Costo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
              <tr *ngFor="let item of recursoEncabezado">
                  <th scope="row">{{item.idRecurso}}</th>
                  <td>{{item.nombre}}</td>
                  <td>{{item.descripcion}}</td>
                  <td>{{item.tipo}}</td>
                  <td>{{item.costo}}</td>
              <td>
                  <div class="btn-group" role="group">
                      <button type="button" class="btn btn-info"
                      (click)="editar(item.idRecurso)">
                          <i class="fas fa-pencil-alt"></i>
                      </button>
                      <button type="button" class="btn btn-danger"
                      (click)="deleteRecursoEncabezado(item.idRecurso)">
                          <i class="fas fa-trash-alt"></i>
                      </button>
                  </div>
              </td>
              </tr>
          </tbody>
      </table>
      
	</div>

   </div>
</div>

