<app-navgeacion></app-navgeacion>
<h3>Create Bono</h3>
<form>
    <div class="form-group">
        <label for="categoryName">Solicitante</label>
        <input name="categoryName" type="text" class="form-control" id="categoryName"
            placeholder="Introduzca el nombre del bono" [(ngModel)]="solicitante">
    </div>
    <div class="form-group">
        <label for="categoryName">Razón</label>
        <input name="categoryName" type="text" class="form-control" id="categoryName"
            placeholder="Introduzca el nombre del bono" [(ngModel)]="razon">
    </div>

    <button type="submit" class="btn btn-primary" (click)="crear()">Save</button>
    <button type="submit" class="btn btn-light" (click)="cancel()">Cancel</button>
</form>