<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <div class="card-header">
            Estrategia
        </div>
        <li class="nav-item">
            <a class="nav-link" href="modeloentrega">Modelos de Entrega</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="proveedor">Proveedores</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="recursoencabezado">Recurso</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="recursodetalle">Recurso Detalle</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="capacidad"> Capacidad</a>
        </li>
        <div class="card-header">
            Diseño
        </div>
        <li class="nav-item">
            <a class="nav-link" href="requerimiento"> Requerimiento</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="catalogotecnico"> Catalogo Tecnico</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="catalogocliente"> Catalogo Cliente</a>
        </li>

        <div class="card-header">
            Transicion
        </div>
        <li class="nav-item">
            <a class="nav-link" href="pruebas"> Pruebas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="recursocambio"> Recurso Cambio</a>
        </li>
        <li>
            <a class="nav-link" href="cambios"> Cambios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="riesgo"> Riesgos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="incidente"> Incidente</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="cambioriesgos"> CambioRiesgos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="login">Salir</a>
        </li>
    </ul>
</div>