<app-navgeacion></app-navgeacion>
<h3>Create Catalogo Cliente</h3>
<form>
    <div class="form-group">
        <label for="categoryName"> Id Catalogo Tecnico</label>
        <input name="categoryName" type="number" class="form-control" id="categoryName"
        placeholder="Introduzca el nombre del bono" [(ngModel)]="idCatalogoTecnico">
        <label for="categoryName"> Componente</label>
        <input name="categoryName" type="text" class="form-control" id="categoryName"
        placeholder="Introduzca el nombre del bono" [(ngModel)]="componente">
        <label for="categoryName"> Funcionalidad</label>
        <input name="categoryName" type="text" class="form-control" id="categoryName"
        placeholder="Introduzca el nombre del bono" [(ngModel)]="funcinalidad">
        <label for="categoryName"> Ayuda</label>
        <input name="categoryName" type="text" class="form-control" id="categoryName"
        placeholder="Introduzca el nombre del bono" [(ngModel)]="ayuda">
    </div>

    <button type="submit" class="btn btn-primary" (click)="crear()">Save</button>
    <button type="submit" class="btn btn-light" (click)="cancel()">Cancel</button>
</form>