<app-navgeacion></app-navgeacion>
<h3>Editar Recurso Cambio</h3>
<form>
    <div class="form-group">
        <label for="recursoId"> Recurso Id</label>
        <input name="recursoId" type="number" class="form-control" id="recursoId"
            placeholder="Introduzca el nombre del bono" [(ngModel)]="recursoId">
    </div>

    <button type="submit" class="btn btn-primary" (click)="editar()">Save</button>
    <button type="submit" class="btn btn-light" (click)="cancel()">Cancel</button>
</form>