<app-navgeacion></app-navgeacion>
<h4>Proyecto</h4>
<button type="button" class="btn btn-success mb-2" (click)="crear()">
  <i class="fas fa-plus">Crear</i>
</button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id Proyecto</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Solicitante</th>
      <th scope="col">Encargado</th>
      <th scope="col">Documentacion</th>
      <th scope="col">Actions</th>

    </tr>
  </thead>
  <tbody>
        <tr *ngFor="let item of proyecto">
            <th scope="row">{{item.idProyecto}}</th>
            <td>{{item.nombre}}</td>
            <td>{{item.descripcion}}</td>
            <td>{{item.solicitante}}</td>
            <td>{{item.encargado}}</td>
            <td>{{item.documentacion}}</td>

        <td>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-info"
                (click)="editar(item.idProyecto)">
                    <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn btn-danger"
                (click)="deleteProyecto(item.idProyecto)">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
        </td>
        </tr>
    </tbody>
</table>