<div class="card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
            <div class="card-header">
                Diseño
            </div>
            <li class="nav-item">
                <a class="nav-link" href="requerimiento"> Requerimiento</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="catalogotecnico"> Catalogo Tecnico</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="catalogocliente"> Catalogo Cliente</a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="login">Salir</a>
            </li>
        </ul>
    </div>