<app-navgeacion></app-navgeacion>

<div class="container-fluid">

  <div class="row">
    <div class="col-3">
      <app-dashboard></app-dashboard>
    </div>
    <div class="col-8">
      <h4>Modelo Entrega</h4>
      <button type="button" class="btn btn-success mb-2" (click)="crear()">
        <i class="fas fa-plus">Crear</i>
      </button>
      <table class="table table-bordered">
        <thead>
          <tr class="table-primary">
            <th scope="col">Id</th>
            <th scope="col">Modelo entrega</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of modeloEntrega">
            <th scope="row">{{item.idModelo}}</th>
            <td>{{item.tipo}}</td>
            <td>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-info" (click)="editar(item.idModelo)">
                  <i class="fas fa-pencil-alt"></i>
                </button>
                <button type="button" class="btn btn-danger" (click)="deleteModeloEntrega(item.idModelo)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>