<div *ngIf="admin">
    <app-navgeacion></app-navgeacion>
</div>
<div *ngIf="dev">
    <app-navigation-dev></app-navigation-dev>
</div>
<div *ngIf="client">
    <app-navigation-client></app-navigation-client>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div *ngIf="admin">
                <app-dashboard></app-dashboard>
            </div>
            <div *ngIf="dev">
                <app-dashboard-dev></app-dashboard-dev>
            </div>
            <div *ngIf="client">
                <app-dashboard-client></app-dashboard-client>
            </div>
        </div>
        <div class="col-8">

            <h3>Crear Requerimiento</h3>
            <form>
                <div class="form-group">
                    <label for="categoryName">Nombre</label>
                    <input name="categoryName" type="text" class="form-control" id="categoryName"
                        placeholder="Introduzca el nombre del requerimiento" [(ngModel)]="nombre">
                    <label for="categoryName">Descripcion</label>
                    <input name="categoryName" type="text" class="form-control" id="categoryName"
                        placeholder="Introduzca descripción del requerimiento" [(ngModel)]="descripcion">
                    <label for="categoryName">Fecha</label>
                    <input name="categoryName" type="date" class="form-control" id="categoryName"
                        placeholder="Introduzca la fecha del requerimiento" [(ngModel)]="fecha">
                    <label for="categoryName">Prioridad</label>
                    <input name="categoryName" type="text" class="form-control" id="categoryName"
                        placeholder="Introduzca la prioridad del requerimiento" [(ngModel)]="prioridad">
                    <label for="categoryName">Estado</label>
                    <input name="categoryName" type="text" class="form-control" id="categoryName"
                        placeholder="Introduzca el estado del requerimiento" [(ngModel)]="estado">
                    <label for="categoryName">Programador</label>
                    <input name="categoryName" type="text" class="form-control" id="categoryName"
                        placeholder="Introduzca el nombre del programador" [(ngModel)]="programador">
                    <label for="categoryName">Id Proyecto</label>
                    <input name="categoryName" type="number" class="form-control" id="categoryName"
                        placeholder="Introduzca el ID del proyecto" [(ngModel)]="idProyecto">
                </div>

                <button type="submit" class="btn btn-primary" (click)="crear()">Guardar</button>
                <button type="submit" class="btn btn-light" (click)="cancel()">Cancelar</button>
            </form>
        </div>
    </div>
</div>