<div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
        <div class="card-header">
            Transicion
        </div>
        <li>
            <a class="nav-link" href="cambios"> Cambios</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="incidente"> Incidente</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="proyecto">Proyecto</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="login">Salir</a>
        </li>
    </ul>
</div>