<div *ngIf="admin">
    <app-navgeacion></app-navgeacion>
</div>
<div *ngIf="dev">
    <app-navigation-dev></app-navigation-dev>
</div>
<div *ngIf="client">
    <app-navigation-client></app-navigation-client>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div *ngIf="admin">
                <app-dashboard></app-dashboard>
            </div>
            <div *ngIf="dev">
                <app-dashboard-dev></app-dashboard-dev>
            </div>
            <div *ngIf="client">
                <app-dashboard-client></app-dashboard-client>
            </div>
        </div>
        <div class="col-8">

            <h3>Editar Catalogo Tecnico</h3>
            <form>
                <div class="form-group">
             <!--<label for="idRequerimiento"> ID Requerimiento</label>
                    <input name="idRequerimiento" type="number" class="form-control" id="idRequerimiento"
                        placeholder="Introduzca el nombre del bono" [(ngModel)]="idRequerimiento">-->    
                        
                        <label for="categoryName"> Id Requerimiento</label>
                        <label for="cursoControlSelect">Seleccione el nombre del Proyecto</label>
                        <select name="idrequerimiento" class="form-control" id="idrequerimiento"  [(ngModel)]="idrequerimiento">
                            <option *ngFor="let item of requerimiento" [value]="item.idRequerimiento">
                                {{  item.nombre   }}</option>
                        </select>   

                    <label for="nombre"> Nombre</label>
                    <input name="nombre" type="text" class="form-control" id="nombre"
                        placeholder="Introduzca el nombre del bono" [(ngModel)]="nombre">
                    <label for="detalle"> Detalle</label>
                    <input name="detalle" type="text" class="form-control" id="detalle"
                        placeholder="Introduzca el nombre del bono" [(ngModel)]="detalle">
                    <label for="dependencias"> Dependencias</label>
                    <input name="dependencias" type="string" class="form-control" id="dependencias"
                        placeholder="Introduzca el nombre del bono" [(ngModel)]="dependencias">
                </div>

                <button type="submit" class="btn btn-primary" (click)="editar()">Save</button>
                <button type="submit" class="btn btn-light" (click)="cancel()">Cancel</button>
            </form>
        </div>
    </div>
</div>