<app-navgeacion></app-navgeacion>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <app-dashboard></app-dashboard>
        </div>
        <div class="col-8">

            <div class="container">
                <div class="row">
                    <div class="col">
                        <h3>Editar Bono</h3> 
                        <form>
                            <div class="form-group">
                                <label for="tipo"> Tipo</label>
                                <input name="tipo" type="text" class="form-control" id="tipo"
                                    placeholder="Introduzca el nombre del bono" [(ngModel)]="tipo">
                                    
                                    <label for="cursoControlSelect">Seleccione el nombre del curso</label>
                                    <select name="nombreCurso" class="form-control" id="cursoControlSelect"  [(ngModel)]="idProyecto">
                                        <option *ngFor="let item of proyectos" [value]="item.idProyecto">
                                            {{
                                                        item.nombre
                                                      }}</option>
                                    </select>
                            </div>

                            <button type="submit" class="btn btn-primary" (click)="editar()">Save</button>
                            <button type="submit" class="btn btn-light" (click)="cancel()">Cancel</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
