<app-navgeacion></app-navgeacion>
<h3>Create Proyecto</h3>
<form>
    <div class="form-group">
        <label for="categoryName"> Nombre</label>
        <input name="categoryName" type="text" class="form-control" id="categoryName"
        placeholder="Introduzca el nombre del bono" [(ngModel)]="nombre">
        <label for="categoryName"> Descripcion</label>
        <input name="categoryName" type="text" class="form-control" id="categoryName"
        placeholder="Introduzca el nombre del bono" [(ngModel)]="descripcion">
        <label for="categoryName"> Solicitante</label>
        <input name="categoryName" type="text" class="form-control" id="categoryName"
        placeholder="Introduzca el nombre del bono" [(ngModel)]="solicitante">
        <label for="categoryName"> Encargado</label>
        <input name="categoryName" type="text" class="form-control" id="categoryName"
        placeholder="Introduzca el nombre del bono" [(ngModel)]="encargado">
        <label for="categoryName"> Documentacion</label>
        <input name="categoryName" type="text" class="form-control" id="categoryName"
        placeholder="Introduzca el nombre del bono" [(ngModel)]="documentacion">
        
    </div>

    <button type="submit" class="btn btn-primary" (click)="crear()">Save</button>
    <button type="submit" class="btn btn-light" (click)="cancel()">Cancel</button>
</form>