<div *ngIf="admin">
    <app-navgeacion></app-navgeacion>
</div>
<div *ngIf="dev">
    <app-navigation-dev></app-navigation-dev>
</div>
<div *ngIf="client">
    <app-navigation-client></app-navigation-client>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div *ngIf="admin">
                <app-dashboard></app-dashboard>
            </div>
            <div *ngIf="dev">
                <app-dashboard-dev></app-dashboard-dev>
            </div>
            <div *ngIf="client">
                <app-dashboard-client></app-dashboard-client>
            </div>
        </div>
        <div class="col-8">

            <h3>Modificar Incidente</h3>
            <form>
                <div class="form-group">
                    <label for="nombre"> Nombre</label>
                    <input name="nombre" type="text" class="form-control" id="nombre"
                        placeholder="Introduzca el nombre del incidente" [(ngModel)]="nombre">
                    <label for="descripcion"> Descripcion</label>
                    <input name="descripcion" type="text" class="form-control" id="descripcion"
                        placeholder="Introduzca la descripción del incidente" [(ngModel)]="descripcion">
                    <label for="prioridad">Prioridad (1-5)</label>
                    <input name="prioridad" type="number" class="form-control" id="prioridad"
                        placeholder="Introduzca la prioridad del incidente" [(ngModel)]="prioridad">
                    <label for="idProyecto">Id Proyecto</label>
                    <input name="idProyecto" type="number" class="form-control" id="idProyecto"
                        placeholder="Introduzca el ID del proyecto" [(ngModel)]="idProyecto">
                </div>

                <button type="submit" class="btn btn-primary" (click)="editar()">Guardar</button>
                <button type="submit" class="btn btn-light" (click)="cancel()">Cancelar</button>
            </form>
        </div>
    </div>
</div>