<app-navgeacion></app-navgeacion>

<div class="container-fluid">

  <div class="row">

        <div class="col-3">
		<app-dashboard></app-dashboard>
	</div>
	 <div class="col-8">
            <h3>Modificar Prueba</h3>
            <form>
                <div class="form-group">
                    <label for="proyecto">Proyecto</label>
                    <input name="proyecto" type="number" class="form-control" id="proyecto"
                    placeholder="Introduzca el nombre del proyecto" [(ngModel)]="proyecto">
                    <label for="observaciones"> Observaciones</label>
                    <input name="observaciones" type="text" class="form-control" id="observaciones"
                    placeholder="Introduzca las observaciones del proyecto" [(ngModel)]="observaciones">
                </div>
            
                <button type="submit" class="btn btn-primary" (click)="editar()">Guardar</button>
                <button type="submit" class="btn btn-light" (click)="cancel()">Cancelar</button>
            </form>
	</div>

   </div>
</div>
