<app-navgeacion></app-navgeacion>
<h3>Editar Proyecto</h3>
<form>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input name="nombre" type="text" class="form-control" id="nombre"
        placeholder="Introduzca el nombre del bono" [(ngModel)]="nombre">
        <label for="tipo">Descripcion</label>
        <input name="tipo" type="text" class="form-control" id="tipo"
        placeholder="Introduzca el nombre del bono" [(ngModel)]="descripcion">
        <label for="tipo">Solicitante</label>
        <input name="tipo" type="text" class="form-control" id="tipo"
        placeholder="Introduzca el nombre del bono" [(ngModel)]="solicitante">
        <label for="tipo">Encargado</label>
        <input name="tipo" type="text" class="form-control" id="tipo"
        placeholder="Introduzca el nombre del bono" [(ngModel)]="encargado">
        <label for="tipo">Documentacion</label>
        <input name="tipo" type="text" class="form-control" id="tipo"
        placeholder="Introduzca el nombre del bono" [(ngModel)]="documentacion">
    </div>

    <button type="submit" class="btn btn-primary" (click)="editar()">Save</button>
    <button type="submit" class="btn btn-light" (click)="cancel()">Cancel</button>
</form>